{% extends 'base.html' %}
{% load custom_template_tags %}
{% load static %}
{% block include %}
    <link rel="stylesheet" href="{% static 'css/home/home_table.css' %}">
{% endblock %}
{% block content %}
<div class="row mx-1 d-flex justify-content-center">
    <div class="col-md-4 col-0">

    </div>
    <div class="col-md-4 col-9 d-flex flex-row justify-content-center">
        <a href="{% url 'home:home_weekly'%}?date={{date_to_show|get_prev_week}}" id="prev-day-button"
           class="btn d-flex align-items-center mr-1 shadow-none">
            <i class="fas fa-angle-left"></i>
        </a>
        <div class="interval-text align-middle text-center d-flex align-items-center"><span>{{date_from}}-{{date_to}}</span>
        </div>
        <a href="{% url 'home:home_weekly' %}?date={{date_to_show|get_next_week}}" id="next-day-button"
           class="btn d-flex align-items-center ml-1 shadow-none">
            <i class="fas fa-angle-right"></i>
        </a>
    </div>
    <div class="col-md-4 col-3 d-flex justify-content-end pe-0">
        <a href="{% url 'home:home_monthly' %}?date={{date_to_show|date:'d/m/Y'}}"
           class="btn custom-btn d-flex align-items-center ml-1 shadow-none">
            Monthly
        </a>
    </div>
</div>
<div class="row mx-1">
    <div id="activity-scrollbar" class="table-responsive px-0 pt-md-4 pt-3" style="overflow-y: hidden;">
        <table class="table box-shadow mb-0 text-nowrap" cellspacing=0>
            <thead class="background-darkest text-white">
            <tr>
                <th scope="col" class="sticky-left background-darkest text-white" style="border-width: 1px;">
                        <span>
                            Activity
                        </span>
                </th>
                {% for date in dates %}
                {% if date|is_today %}
                <th scope="col" style="border: 2px solid red" class="align-middle text-center">
                      <span>
                                <b>{{date | date:"l"}}</b>
                      </span>
                </th>
                {% else %}
                <th scope="col" class="align-middle text-center">
                      <span>
                                {{date | date:"l"}}
                      </span>
                </th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for activity, activity_instances in date_activity_dict.items %}
            <tr>
                <td class="background-darkest sticky-left text-light align-middle" style="border-width: 1px;">
                    {{activity}}
                </td>
                {% for date in dates %}
                {% with activity_instance_weekly=activity_instances|get_item:date %}
                {% if not activity_instance_weekly %}
                <td class="text-right table-warning" style="border-width: 1px 1px;"></td>
                {% elif activity_instance_weekly.is_complete %}
                <td class=" activity-table-cell-success p-0 text-center align-middle table-success">
                        <button type="button" class="table-button-success w-100 h-100" data-bs-toggle="modal" data-bs-target="#modal_{{activity_instance_weekly.pk}}">
                            <i class="fas fa-check text-success"></i>
                        </button>
                {% else %}
                <td class="activity-table-cell-error p-0 text-center align-middle table-danger">
                        <button type="button" class="table-button-error w-100 h-100" data-bs-toggle="modal" data-bs-target="#modal_{{activity_instance_weekly.pk}}">
                            <i class="fas fa-times text-danger"></i>
                        </button>
                {% endif %}
                            {% if not activity_instance_weekly %}

                            {% elif activity_instance_weekly.is_complete %}
                        <div class="modal fade activity-table-cell" id="modal_{{activity_instance_weekly.pk}}" tabindex="-1" aria-labelledby="#modal{{activity_instance_weekly.pk}}label" aria-hidden="true">
                                {% else %}
                            <div class="modal fade activity-table-cell" id="modal_{{activity_instance_weekly.pk}}" tabindex="-1" aria-labelledby="#modal{{activity_instance_weekly.pk}}label" aria-hidden="true">
                                {% endif %}
                                {% if activity_instance_weekly %}
                                <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                            {% if activity_instance_weekly.is_complete %}
                                    <div class="modal-content box-shadow w-75 background-success">
                            {% else %}
                                    <div class="modal-content box-shadow w-75 d-flex justify-content-center background-error">
                            {% endif %}
                                        <div class="modal-header">
                                            <span id="modal{{activity_instance_weekly.pk}}label"
                                                  class="h6 modal-title">{{activity_instance_weekly.activity.name}} ({{date | date:"d/m/Y"}})</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-center">
                                                <select class="form-select start-difficulty-select difficulty-select"
                                                        title="Difficulty to start">
                                                    {% if activity_instance_weekly.start_difficulty == 1 %}
                                                    <option value="1" selected>Very easy</option>
                                                    {% else %}
                                                    <option value="1">Very easy</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.start_difficulty == 2 %}
                                                    <option value="2" selected>Easy</option>
                                                    {% else %}
                                                    <option value="2">Easy</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.start_difficulty == 3 %}
                                                    <option value="3" selected>Neutral</option>
                                                    {% else %}
                                                    <option value="3">Neutral</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.start_difficulty == 4 %}
                                                    <option value="4" selected>Hard</option>
                                                    {% else %}
                                                    <option value="4">Hard</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.start_difficulty == 5 %}
                                                    <option value="5" selected>Very hard</option>
                                                    {% else %}
                                                    <option value="5">Very hard</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <select class="form-select activity-difficulty-select difficulty-select"
                                                        title="Difficulty of the activity">
                                                    {% if activity_instance_weekly.activity_difficulty == 1 %}
                                                    <option value="1" selected>Very easy</option>
                                                    {% else %}
                                                    <option value="1">Very easy</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.activity_difficulty == 2 %}
                                                    <option value="2" selected>Easy</option>
                                                    {% else %}
                                                    <option value="2">Easy</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.activity_difficulty == 3 %}
                                                    <option value="3" selected>Neutral</option>
                                                    {% else %}
                                                    <option value="3">Neutral</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.activity_difficulty == 4 %}
                                                    <option value="4" selected>Hard</option>
                                                    {% else %}
                                                    <option value="4">Hard</option>
                                                    {% endif %}

                                                    {% if activity_instance_weekly.activity_difficulty == 5 %}
                                                    <option value="5" selected>Very hard</option>
                                                    {% else %}
                                                    <option value="5">Very hard</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if not activity_instance_weekly %}

                                        {% elif activity_instance_weekly.is_complete %}
                                        <div class="modal-footer">
                                            <input class="form-check-input activity-checkbox ms-1 mt-2"
                                                   style="font-size: 1.6rem;" type="checkbox"
                                                   value="" id="flexCheckChecked" title="Completed" checked>
                                            <button class="activity-table-submit btn custom-btn me-1 mt-2 p-0 px-2">
                                                Submit
                                            </button>
                                            <div class="activity-table-metadata d-none">
                                                <input type="hidden" name="activity_pk"
                                                       value="{{activity_instance_weekly.pk}}">
                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                       value="{{ csrf_token }}">
                                                <input type="hidden" name="update_activity_url"
                                                       value="{% url 'activities:update_activity_instance' pk=activity_instance_weekly.pk %}">
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="modal-footer">
                                            <input class="form-check-input activity-checkbox ms-1 mt-2"
                                                   style="font-size: 1.6rem;" type="checkbox"
                                                   value="" id="flexCheckDefault" title="Completed">
                                            <button class="activity-table-submit btn custom-btn me-1 mt-2 p-0 px-2">
                                                Submit
                                            </button>
                                            <div class="activity-table-metadata d-none">
                                                <input type="hidden" name="activity_pk"
                                                       value="{{activity_instance_weekly.pk}}">
                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                       value="{{ csrf_token }}">
                                                <input type="hidden" name="update_activity_url"
                                                       value="{% url 'activities:update_activity_instance' pk=activity_instance_weekly.pk %}">
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
            </td>
                {% endwith %}
                {% endfor %}

            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No activities found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}