{% extends 'base.html' %}
{% load static %}
{% load custom_template_tags %}

{% block include %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-end mb-2">
    <div class="d-flex justify-content-end">
        <a href="{% url 'activity_statistics:overall_yearly_statistics' %}"
           class="btn custom-btn d-flex align-items-center ms-1 shadow-none">
            Yearly
        </a>
        <a href="{% url 'activity_statistics:overall_all_time_statistics' %}"
           class="btn custom-btn d-flex align-items-center ms-1 shadow-none">
            All time
        </a>
        <a href="{% url 'activity_statistics:overall_monthly_statistics' %}"
           class="btn custom-btn d-flex align-items-center ms-1 shadow-none">
            Monthly
        </a>
    </div>
</div>
<div class="row mb-2 d-flex justify-content-center">
    <div class="col-md-4 col-8 d-flex flex-row justify-content-center">
        <a href="{% url 'activity_statistics:overall_yearly_statistics' %}?date={{date_to_show|get_prev_year}}" id="prev-day-button" class="btn base-square-button mr-1 shadow-none">
            <i class="fas fa-angle-left"></i>
        </a>
        <div class="align-middle text-center p-2">{{date_to_show|date:"Y"}}</div>
        <a href="{% url 'activity_statistics:overall_yearly_statistics' %}?date={{date_to_show|get_next_year}}" id="next-day-button" class="btn base-square-button ml-1 shadow-none">
            <i class="fas fa-angle-right"></i>
        </a>
    </div>
</div>
<div class="row">
    {% if day_dict %}
    <div class="col-12 mb-3">
        <canvas id="day_dict_chart" width="100" height="60"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_dict_chart" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_composition_dict_chart" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_start_difficulty_dict_chart" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_difficulty_dict_chart" width="200" height="200"></canvas>
    </div>
    {% else %}
    <span class="display-4 text-center">No statistics to show</span>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if day_dict %}
    <script>
    day_dict_labels = [];
    day_dict_values = [];
    {% for key, value in day_dict.items %}
        day_dict_labels.push("{{key}}");
        day_dict_values.push({{value.calculate_percentage}});
    {% endfor %}

    activity_dict_labels = [];
    activity_dict_values = [];
    {% for key, value in activity_dict.items %}
        activity_dict_labels.push("{{key}}");
        activity_dict_values.push({{value.calculate_percentage}});
    {% endfor %}

    activity_composition_dict_labels = [];
    activity_composition_dict_values = [];
    {% for key, value in activity_composition_dict.items %}
        activity_composition_dict_labels.push("{{key}}");
        activity_composition_dict_values.push({{value}});
    {% endfor %}

    start_activity_difficulty_dict_labels = [];
    start_activity_difficulty_dict_values = [];
    {% for key, value in start_activity_difficulty_dict.items %}
        start_activity_difficulty_dict_labels.push("{{key}}");
        start_activity_difficulty_dict_values.push({{value.calculate_average}});
    {% endfor %}

    activity_difficulty_dict_labels = [];
    activity_difficulty_dict_values = [];
    {% for key, value in activity_difficulty_dict.items %}
        activity_difficulty_dict_labels.push("{{key}}");
        activity_difficulty_dict_values.push({{value.calculate_average}});
    {% endfor %}
    </script>
    <script src="{% static 'js/overall_statistics.js' %}"></script>
{% endif %}
{% endblock %}