{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row d-flex mb-3"><span class="display-4 text-center text-color-darkest">Profile</span></div>
<div class="row mb-4">
    <div class="col-md-6 col-12 h-100 ps-2 d-flex flex-column align-items-center">
        <span class="w-75 text-center h5">Level {{user.level}}</span>
        <div class="progress w-75 mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                 style="width: {{user.calculate_progress}}%"
                 aria-valuenow="{{user.level_progress}}" aria-valuemin="0" aria-valuemax="{{user.level_goal}}">
                {{user.level_progress}}/{{user.level_goal}}
            </div>
        </div>

        <img src="{{user.profile_pic.url}}" class="profile-image w-75 rounded mb-1" alt="Profile picture">
        <form enctype="multipart/form-data" method="POST" action=""
              class="col-12 d-flex justify-content-center align-items-center w-75 px-1 my-1">
            {% csrf_token %}
            <div class="w-75">
                {{form.profile_pic}}
            </div>
            <button name="file_upload" type="submit" class="custom-btn btn w-25">
                <i class="fas fa-cloud-upload-alt"></i>
            </button>
        </form>
        <div class="col-12 px-1 text-center my-1">
            <a class="btn custom-btn w-75" href="{% url 'account:change_password' %}">Change Password</a>
        </div>
        <div class="col-12 px-1 text-center my-1">
            <a class="btn custom-btn w-75" href="{% url 'account:change_email' %}">Change Email</a>
        </div>
    </div>
    <div class="col-md-6 col-12 h-100 ps-2 d-flex flex-column align-items-center">
        <div class="row w-100 my-lg-4 my-2">
            <div class="col-6 d-flex flex-column align-items-center">
                <span class="h6 text-color-darkest">Achievements</span>
                <i class="fas fa-trophy mb-1 text-color-darkest" style="font-size: 2.5rem;"></i>
                <span class="h5">{{achievements_complete}}/{{achievements_total}}</span>
            </div>
            <div class="col-6 d-flex flex-column align-items-center">
                <span class="h6 text-color-darkest">Today's activities</span>
                <i class="fas fa-calendar-alt mb-1 text-color-darkest" style="font-size: 2.5rem;"></i>
                <span class="h5">{{instances_complete}}/{{instances_total}}</span>
            </div>
        </div>
        <div class="col-md-12 ms-md-2 ms-5 col-11 p-1">
            <span class="h2">Recent achievements:</span>
            {% for achievement in recent_completed_achievements %}
            <div class="row my-2">
                <div class="col-md-2 col-2 pe-0 d-flex flex-column justify-content-center">
                    <img src="{% static 'img/' %}{{achievement.picture}}" class="w-75">
                </div>
                <div class="col-md-10 col-10 d-flex flex-column justify-content-center">
                    <span class="align-middle h6 mb-1">{{achievement.activity}}</span>
                    <span>{{achievement}}</span>
                </div>
            </div>
            {% empty %}
            <span class="h6"></span>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

