{% extends 'index.html' %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
        <div class="container gradient-bg d-flex align-items-center justify-content-center h-100">
            <div class="row w-100 text-white mt-4">
                <div class="col-lg-6 col-md-10 col-sm-12 col-12 mx-auto text-center">
                    <div class="shadow-lg form p-4 background-lightest rounded border border-dark">
                        <h1 class="title display-4 py-2 text-truncate text-dark">WELCOME</h1>

                        <div class="form-wrapper px-2 mt-4">
                            <form method="POST" class="justify-content-center">
                                {% csrf_token %}
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Username</label>
                                    <div class="input-group">
                                        {{ form.username }}
                                    </div>
                                </div>

                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                        {{ form.password }}
                                    </div>
                                </div>
                                <div class="form-group mx-5">
                                    <label class="text-dark h6">Need an account? Register <a href="{% url 'account:register' %}">here</a> </label>
                                </div>
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6"><a href="{% url 'account:password_reset' %}">Forgotten password</a></label>
                                </div>


                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                    {% endfor %}
                                {% endif %}

                                <button type="submit" class="btn custom-btn"><i class="fas fa-sign-in-alt"></i> Log in</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}