{% extends 'index.html' %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
        <div class="container gradient-bg d-flex align-items-center justify-content-center h-100">
            <div class="row w-100 text-white mt-4">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 mx-auto text-center">
                    <div class="shadow-lg form p-4 background-lightest rounded border border-dark">
                        <h1 class="title display-4 py-2 text-dark">PASSWORD RESET</h1>
                        {% if validlink %}
                        <div class="form-wrapper px-2 mt-4">
                            <form method="POST" class="justify-content-center">
                                {% csrf_token %}
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                    {{form.new_password1}}
                                    </div>
                                </div>

                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                    {{form.new_password2}}
                                    </div>
                                </div>

                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                    {% endfor %}
                                {% endif %}

                                <button type="submit" class="btn custom-btn">Submit</button>
                            </form>
                        </div>
                        {% else %}
                            <p class="text-danger font-weight-bold">Link has expired.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
{% endblock %}