{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="pe-3 ps-3">
        <h1 class="display-4 p-2">Change password</h1>
        <ul class="list-group list-group-flush">
            {% if form.errors %}
            <li class="list-group-item background-lightest">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            </li>
            {% endif %}
            <li class="list-group-item background-lightest">
                <div class="row">
                    <div class="form-group col-12 mt-2 mb-3">
                        {{form.old_password}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        {{form.new_password1}}
                    </div>
                    <div class="form-group col-12 mb-3">
                        {{form.new_password2}}
                    </div>
                </div>
            </li>
        </ul>
        <button type="submit" class="ms-3 btn custom-btn">Submit</button>
    </div>
</form>

{% endblock %}

