{% extends 'index.html' %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="h-100 text-dark">
        <div>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} text-center align-center w-100 h6" id="hideMe" >{{ message }}</div>
            {% endfor %}
        </div>
        <div class="container d-flex align-items-center justify-content-center h-100">
            <div class="row w-100 text-white mt-4">
                <div class="col-lg-6 col-md-10 col-sm-12 col-12 mx-auto text-center">
                    <div class="shadow-lg form p-4 background-lightest rounded border border-dark">
                        <h1 class="title display-4 py-2 text-truncate text-dark">REGISTER</h1>

                        <div class="form-wrapper px-2 mt-4">
                            <form method="POST" class="justify-content-center">
                                {% csrf_token %}
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Username</label>
                                    <div class="input-group">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Email</label>
                                    <div class="input-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-group mb-3 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="form-group mb-4 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="form-group mx-5 mb-3">
                                    <label class="text-dark h6">Already have an account? Login <a href="{% url 'account:login' %}">here</a> </label>
                                </div>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn w-25 custom-btn">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}