.table-button-error{
    background-color: #f8d7da;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-button-success{
    background-color: #d1e7dd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sticky-left{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.table-button-success:hover{
    border: 1px solid var(--color-success);
}

.table-button-error:hover{
    border: 1px solid var(--color-error);
}

.activity-table-cell{
    border-width: 1px 1px !important;
    position: absolute;
    z-index: 1000000;
}

.interval-text{
    font-size: 1rem;
}

.dropdown-menu{
    min-width: 0;
    min-height: 0;
}
table {
  border-spacing: 1px;
  border-collapse: separate;
}

th, td {
    font-size: 1rem;
}

@media only screen and (max-width: 1000px) {
    th, td {
        font-size: 0.8rem;
    }
    .interval-text{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    th, td {
        font-size: 0.7rem;
    }
    .interval-text{
        font-size: 0.7rem;
    }
}