{% extends 'base.html' %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/achievements/achievements.css' %}">
{% endblock %}

{% block content %}
<div class="row mb-3 mt-3"><span class="display-4 d-flex justify-content-center text-color-darkest">Achievements</span></div>
<div class="achievement-container box-shadow row d-flex flex-column align-items-center mx-1">
    <div id="activity-scrollbar" class="activity-list justify-content-center">
        {% if not current_activity %}
        <div class="activity-list-item">
            <a class="align-middle current-link" href="{% url 'achievements:index_achievements' %}">View all</a>
        </div>
        {% else %}
        <div class="activity-list-item">
            <a class="align-middle custom-link" href="{% url 'achievements:index_achievements' %}">View all</a>
        </div>
        {% endif %}
        {% for activity in activities %}
        {% if current_activity == activity %}
        <div class="activity-list-item">
            <a class="align-middle current-link" href="{% url 'achievements:achievement_detail' pk=activity.pk %}">{{activity}}</a>
        </div>
        {% else %}
        <div class="activity-list-item">
            <a class="align-middle custom-link" href="{% url 'achievements:achievement_detail' pk=activity.pk %}">{{activity}}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="achievement-list d-flex flex-row row">
        {% for achievement in achievements %}
        <div class="achievement-list-item col-lg-4 col-sm-6 col-12 p-2">
            <div class="card h-100">
                <div class="p-3 d-flex justify-content-center">
                    <img src="{% static 'img/' %}{{achievement.picture}}" class="w-75">
                </div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{achievement.calculate_progress}}%" aria-valuenow="{{achievement.progress}}" aria-valuemin="0" aria-valuemax="{{achievement.goal}}">
                          {{achievement.progress}}/{{achievement.goal}}
                      </div>
                    </div>
                <div class="card-body">
                    <h5 class="card-title">{{achievement.activity}}</h5>
                    <p class="card-text">{{achievement}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <span>No achievements found.</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

