{% extends 'base.html' %}

{% block content %}
<h1>Rewards Index</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet lectus quis justo. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Aliquam erat volutpat. Pellentesque ipsum. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nulla non arcu lacinia neque faucibus fringilla. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam commodo dui eget wisi. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Fusce suscipit libero eget elit.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer imperdiet lectus quis justo. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Aliquam erat volutpat. Pellentesque ipsum. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nulla non arcu lacinia neque faucibus fringilla. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam commodo dui eget wisi. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Fusce suscipit libero eget elit.</p>
{% endblock %}

