{% extends 'base.html' %}
{% load static %}
{% load custom_template_tags %}

{% block include %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
<div class="row mb-3 d-flex justify-content-center">
    <div class="align-middle text-center display-4 p-2">{{current_activity}}</div>
</div>
<div class="row">
    {% if day_dict %}
    <div class="col-12 mb-3">
        <canvas id="day_dict_chart" width="100" height="60"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_start_difficulty_dict_chart" width="200" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <canvas id="activity_difficulty_dict_chart" width="200" height="200"></canvas>
    </div>
    {% else %}
    <span class="display-4 text-center">No statistics to show</span>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if day_dict %}
    <script>
    day_dict_labels = [];
    day_dict_values = [];
    {% for key, value in day_dict.items %}
        day_dict_labels.push("{{key}}");
        day_dict_values.push({{value.calculate_percentage}});
    {% endfor %}

    start_activity_difficulty_dict_labels = [];
    start_activity_difficulty_dict_values = [];
    {% for key, value in start_activity_difficulty_dict.items %}
        start_activity_difficulty_dict_labels.push("{{key}}");
        start_activity_difficulty_dict_values.push({{value.calculate_average}});
    {% endfor %}

    activity_difficulty_dict_labels = [];
    activity_difficulty_dict_values = [];
    {% for key, value in activity_difficulty_dict.items %}
        activity_difficulty_dict_labels.push("{{key}}");
        activity_difficulty_dict_values.push({{value.calculate_average}});
    {% endfor %}

    </script>
    <script src="{% static 'js/activity_statistics.js' %}"></script>
{% endif %}
{% endblock %}