{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.media }}
    {% csrf_token %}
    <div class="pe-3 ps-3">
        <h1 class="display-2 p-2">New activity</h1>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
               <ul class="list-group list-group-flush">
            <li class="list-group-item background-lightest">
                <div class="row">
                    <div class="form-group col-12 ">
                        <label class="h6">{{form.name.label}}</label>
                        {{form.name}}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="h6">{{form.start_date.label}}</label>
                        {{form.start_date}}
                    </div>
                    <div class="form-group col-6">
                        <label class="h6">{{form.end_date.label}}</label>
                        {{form.end_date}}
                    </div>
                </div>
            </li>
            <li class="list-group-item background-lightest">
                <div class="h5 mt-1 mb-3"> Choose weekdays for your activity: </div>
                <div class="row mb-2">
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.monday}}
                        <label class="h6">{{form.monday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.tuesday}}
                        <label class="h6">{{form.tuesday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.wednesday}}
                        <label class="h6">{{form.wednesday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.thursday}}
                        <label class="h6">{{form.thursday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.friday}}
                        <label class="h6">{{form.friday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.saturday}}
                        <label class="h6">{{form.saturday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.sunday}}
                        <label class="h6">{{form.sunday.label}}</label>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="custom-btn btn w-25">Submit</button>
                </div>
                        </li>


        </ul>

    </div>
</form>
{% endblock %}

