{% extends 'base.html' %}
{% load static %}
{% block include %}
    <link rel="stylesheet" href="{% static 'css/activities/index_activities.css' %}">
{% endblock %}

{% block content %}
<div class="row mb-2 p-2">
    <div class="d-flex justify-content-between align-items-center"><span class="display-4 text-color-darkest">Activities:</span>
        <a class="btn custom-btn" href="{% url 'activities:create_activity'%}"><i class="fas fa-plus me-1"></i> New</a>
    </div>
</div>
<div class="row ml-3 mr-3">
    <div id="activity-scrollbar" class="table-responsive">
        <table class="table table-bordered text-nowrap" cellspacing=0>
            <thead class="table-bordered background-darkest text-white">
            <tr>
                <th scope="col">
                        <span>
                            Activity
                        </span>
                </th>
                <th scope="col">
                        <span>
                            Interval
                        </span>
                </th>
                <th scope="col">
                        <span>
                            Weekdays
                        </span>
                </th>
                <th scope="col">

                </th>
            </tr>
            </thead>
            <tbody>
            {% for activity in current_activities %}

            <tr>
                <td class="align-middle">
                    <span>{{activity}}</span>
                </td>
                <td class="align-middle">
                    <span>{{activity.get_interval}}</span>
                </td>
                <td class="align-middle h-100">
                    <div class="d-flex justify-content-start">
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Mon</b>
                        {% if activity.monday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Tue</b>
                        {% if activity.tuesday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Wed</b>
                        {% if activity.wednesday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Thu</b>
                        {% if activity.thursday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Fri</b>
                        {% if activity.friday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Sat</b>
                        {% if activity.saturday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    <div class="day-container d-flex flex-column align-items-center m-1">
                        <b>Sun</b>
                        {% if activity.sunday %}
                        <i class="fas fa-check text-success"></i>
                        {% else %}
                        <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </div>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <div class="activity-actions d-flex flex-row justify-content-center">
                            <a class="btn custom-btn m-1" href="{% url 'activities:activity_statistics' pk=activity.pk %}">
                                <i class="fas fa-chart-bar"></i>
                            </a>
                            <a class="btn custom-btn m-1" href="{% url 'activities:update_activity' pk=activity.pk %}"
                               title="Update">
                                <i class="fas fa-edit"></i>
                            </a>
                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No activities found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

