{% extends 'base.html' %}
{% load static %}

{% block content %}
<form id="activity_edit" action="" method="post">
    {{ form.media }}
    {% csrf_token %}
    <div class="pe-3 ps-3">
        <div class="header d-flex justify-content-between align-items-center">
            <h1 class="display-4 p-2">{{object.name}}</h1>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalForm">
              Delete
            </button>
        </div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item background-lightest">
                <div class="row mb-2">
                    <div class="form-group col-sm-6 col-12">
                        <label class="h6">{{form.name.label}}</label>
                        {{form.name}}
                    </div>
                    <div class="form-group col-sm-6 col-12">
                        <label class="h6">Choose an action</label>
                        {{form.action}}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="form-group col-6">
                        <label class="h6">{{form.start_date.label}}</label>
                        {{form.start_date}}
                    </div>
                    <div class="form-group col-6">
                        <label class="h6">{{form.end_date.label}}</label>
                        {{form.end_date}}
                    </div>
                </div>
            </li>
            <li class="list-group-item background-lightest">
                <div class="h5 mt-1 mb-3"> Choose weekdays for your activity: </div>
                <div class="row mb-2">
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.monday}}
                        <label class="h6">{{form.monday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.tuesday}}
                        <label class="h6">{{form.tuesday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.wednesday}}
                        <label class="h6">{{form.wednesday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.thursday}}
                        <label class="h6">{{form.thursday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.friday}}
                        <label class="h6">{{form.friday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.saturday}}
                        <label class="h6">{{form.saturday.label}}</label>
                    </div>
                    <div class="form-check form-switch col-md-12 ms-3">
                        {{form.sunday}}
                        <label class="h6">{{form.sunday.label}}</label>
                    </div>
                </div>
                        </li>

            <li class="list-group-item background-lightest">
                <div class="row mb-4 mt-2">

                </div>
                <div class="row justify-content-center">
                    <button class="custom-btn btn w-25">Submit</button>
                </div>
            </li>


        </ul>

    </div>
</form>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header background-darkest">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Delete activity "{{object.name}}"?</h5>
        <button type="button" class="close btn background-lightest" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
      </div>
        <form action="{% url 'activities:delete_activity' pk=object.pk %}" method="post">
            {% csrf_token %}
          <div class="modal-body">
              <span class="display-6">Do you wish to delete this activity?</span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Confirm</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/activity_edit.js' %}"></script>
{% endblock %}