.achievement-container{

}

.activity-list{
        background-color: var(--color-darkest);
        display: block;
        min-height: 50px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}

.achievement-list{
        width: 100%;
}

.activity-list-item{
        padding: 0.5rem;
        margin-right: 0.5rem;
        display: inline-block;
}

.achievement-list-item{

}