:root {
  --color-darkest: #1b4965;
  --color-dark: #3b657f;
  --color-light: #e9ecef;
  --color-lightest: #faf9f9;
  --color-success: #2d9445;
  --color-error: #eb3828;
}

html, body {
    height: 100%;
    overflow-x:hidden;
}

/* ------------------------------------------------------ Colors ------------------------------------------------------ */
.background-darkest{
    background-color: var(--color-darkest) !important;
}
.background-dark{
    background-color: var(--color-dark) !important;
}
.background-light{
    background-color: var(--color-light) !important;
}

.background-lightest{
    background-color: var(--color-lightest) !important;
}

.background-success{
    background-color: var(--color-success) !important;
}

.background-error{
    background-color: var(--color-error) !important;
}

.text-color-darkest{
    color: var(--color-darkest) !important;
}
.text-color-dark{
    color: var(--color-dark) !important;
}
.text-color-light{
    color: var(--color-light) !important;
}

.text-color-lightest{
    color: var(--color-lightest) !important;
}
.text-color-success{
    color: var(--color-success) !important;
}
.text-color-error{
    color: var(--color-error) !important;
}
/* -------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------ Main Content ------------------------------------------------------ */
.base-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.base-wrapper .base-content-wrapper {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex:1;
}

.base-wrapper .base-content-wrapper .main-content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.base-wrapper .base-content-wrapper .main-content {
    height: 100%;
}

@media (min-width: 1000px) {
    .container{
        max-width: 770px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1170px;
    }
}

@media (min-width: 1600px) {
    .container{
        max-width: 1320px;
    }
}

@media (min-width: 2000px) {
    .container{
        max-width: 1770px;
    }
}

.base-wrapper .base-content-wrapper .side-content-wrapper{
        height: 200px;
        width: 100%;
}

.base-wrapper .base-content-wrapper .side-content{
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width:100%;
}

.base-wrapper .base-content-wrapper .side-content-collapsed{
       width: 100%;
}

@media only screen and (max-width: 1000px) {
    .base-wrapper .base-content-wrapper {
        flex-flow: column;
    }
    .base-wrapper .base-content-wrapper .side-content{
        width: 100% !important;
    }
    .base-wrapper .base-content-wrapper .side-content-wrapper{
        height: 170px;
    }
}



/* ------------------------------------------------------ Main Content ------------------------------------------------------ */

/* ------------------------------------------------------ Sidebar ------------------------------------------------------ */
.base-wrapper .sidebar {
    transition:  0.3s ;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 280px;
    min-width: 280px;
    font-size: 1.2rem;
    color: var(--color-lightest);
    background-color: var(--color-darkest);
}

.base-wrapper .sidebar-wrapper {
    z-index: 3;
    display: flex;
    transition:  0.3s ;
    width: 280px;
    min-width: 280px;
    height: 100%;
}

.base-wrapper .sidebar-wrapper .sidebar .profile-image {
    border-radius: 5%;
    width: 80%;
    height: auto;
    align-self: center;
}
.sidebar-icon{
   padding: .5rem .5rem .5rem .5rem;
   width: 50px;
   height: auto;
   text-align: center;
}

.custom-btn {
    color: var(--color-lightest);
    background-color: var(--color-dark);
    border: 2px solid var(--color-darkest);
    font-size: 1rem;
}

.custom-btn:hover {
    color: var(--color-lightest);
    background-color: var(--color-darkest);
}

.custom-link {
        color: var(--color-lightest);
        position: relative;
        text-decoration: none;
        padding: 0.5rem;
}

.custom-link:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-lightest);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
}

.custom-link:hover{
        color: var(--color-lightest);
}
.custom-link:hover:before {
        transform-origin: left;
        transform: scaleX(1);
}

.current-link{
        color: var(--color-lightest);
        position: relative;
        text-decoration: none;
        padding: 0.5rem;
}

.current-link:hover{
        color: var(--color-lightest);
}

.current-link:after{
        position: absolute;
        content: '';
        height: 4px;
        border-radius: 4px;
        bottom: 0;
		left: 0;
		width: 100%;
        background-color: var(--color-lightest);
}

.sidebar-collapse-btn{
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}

.base-wrapper .sidebar-collapsed {
    transition: 0.3s;
    width: 55px !important;
    min-width: 55px !important;
    display: flex !important;
    justify-content: start !important;
}

.hamburger-container {
    justify-content: end;
    align-items: center;
    width: 100%;
    padding-right: 0.9rem;
    height: 50px;
    font-size: 2rem;
}

.hamburger-container-collapsed{
    justify-content: center;
    align-items: center;
    width: 50px;
    padding-right: 0rem;
}

.hamburger {
    cursor: pointer;
}

.sidebar-text{
    font-size: 1.2rem;
}

@media only screen and (max-width: 1600px) {
    .base-wrapper .sidebar-wrapper .sidebar .profile-image {
        width: 70%;
    }

    .sidebar-text{
        font-size: 1rem;
    }

    .base-wrapper .sidebar {
        width: 220px;
        min-width: 220px;
    }

    .base-wrapper .sidebar-wrapper {
        width: 220px;
        min-width: 220px;
    }
    .base-wrapper .sidebar{
       font-size: 1rem;
    }

}
@media only screen and (max-width: 1000px) {
    .base-wrapper .sidebar-collapsed {
        height: 50px;
        z-index: 1;
        width: 100% !important;
        transition: 0s;
        color: var(--color-darkest);
        background-color: var(--color-lightest);
    }

    .sidebar-text{
        font-size: 2.2rem;
    }

    .custom-btn {
        font-size: 0.8rem;
    }

    .base-wrapper .sidebar-wrapper {
        position: fixed;
        transition: 0s;
    }

    .base-wrapper .sidebar-wrapper .sidebar {
        width: 100% !important;
        font-size: 2rem;
    }
    .base-wrapper .sidebar-wrapper .sidebar .nav-list {
        align-items: center;
    }

    .hamburger-container {
        justify-content: end;
        align-items: center;
        width: 100%;
        padding-right: 0.5rem;
        height: 50px;
        font-size: 2.5rem;
    }

    .hamburger-container-collapsed{
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .base-wrapper .sidebar-wrapper .sidebar .profile-image {
        width: 250px;
        height: 250px;
    }
    .animated_link {
        width: 50%;
        margin-left: 15%;
    }

}

@media only screen and (max-width: 500px) {
    .base-wrapper .sidebar-wrapper .sidebar .profile-image {
        width: 150px;
        height: 150px;
    }
    .base-wrapper .sidebar-wrapper .sidebar {
        width: 100% !important;
        font-size: 1.2rem;
    }

    .sidebar-text{
        font-size: 1.3rem;
    }
    .custom-btn {
        font-size: 0.7rem;
    }

    .custom-link {
        width: 50%;
        padding: 0;
    }

    .sidebar-icon{
       padding: .5rem .5rem .5rem 1.5rem;
    }

}


/* ------------------------------------------------------ Sidebar ------------------------------------------------------ */

/* ------------------------------------------------------ Topbar ---------------------------------------------------------*/
.top-bar{
    height: 50px;
    position: sticky;
    top: 0px;
    left: 280px;
    z-index: 2;
    transition: 0.3s;
}

.nav-link{
    color: var(--color-lightest) !important;
}

.top-bar-collapsed{
    left: 55px !important;
}

.top-bar-notifications{
    font-size: 1.5rem;
}

.top-bar-notifications-menu{
    max-height: 300px;
    overflow-y: auto;
}

@media only screen and (max-width: 1600px) {
    .top-bar{
        left: 220px;
    }
}

@media only screen and (max-width: 1000px) {
    .top-bar-collapsed{
        margin-left: 55px !important;
    }
}

/* ------------------------------------------------------ Topbar ---------------------------------------------------------*/


/* ------------------------------------------------------ Activity sidebar ------------------------------------------------------ */
.activity{
    width: 150px;
    height: 150px;
    border-radius: 0.4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.activity-text{
    margin-top: 5px;
    font-size: 1rem;
}

.difficulty-select{
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
    width: 90%;
    height: 2rem;
}

.form-check-input:checked {
    background-color: var(--color-success);
    border-color: #1f662f;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .activity{
        width: 125px;
        height: 125px;
    }
    .activity-text{
        font-size: 0.7rem;
    }
    .form-check-input {
        height: 1.3rem;
        width: 1.3rem;
        cursor: pointer;
    }
    .difficulty-select{
        margin-bottom: 0.1rem;
        font-size: 0.7rem;
        width: 90%;
        height: 1.8rem;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- */

#activity-scrollbar::-webkit-scrollbar-track
{

  border-radius: 10px;
  background-color: var(--color-lightest);
}

#activity-scrollbar::-webkit-scrollbar
{
  width: 10px;
  background-color: var(--color-lightest);
}

#activity-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--color-light);
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

