#hideMe {
    -moz-animation: hide 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: hide 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: hide 0s ease-in 3s forwards;
    /* Opera */
    animation: hide 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position:fixed;
    z-index: 1000;
    top: 0;
    height: 50px;
}

@keyframes hide {
    to {
        padding: 0;
        width:0;
        height:0;
        visibility:hidden;
    }
}
::-webkit-keyframes hide {
    to {
        padding: 0;
        width:0;
        height:0;
        visibility:hidden;
    }
}