a.custom-link {
        color: var(--color-lightest);
        position: relative;
        text-decoration: none;
        padding: 0.5rem;
}

a.custom-link:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-lightest);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
}
a.custom-link:hover:before {
        transform-origin: left;
        transform: scaleX(1);
}