.main-content {
    background: linear-gradient(-45deg, var(--color-light), var(--color-lightest));
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}


.form-wrapper {
    font-size: 15px;
}
@media only screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .form-wrapper {
        font-size: 25px;
    }
    .motivation-text{
            font-size: 1.5rem;
    }
}