th, td {
    font-size: 1rem;
}

.day-container{
    width: 30px;
}

@media only screen and (max-width: 1000px) {
    th, td {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    th, td {
        font-size: 0.7rem;
    }
}
