<!DOCTYPE html>
{% load static %}
<html>


<head>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/hide_messages.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% block include %}{% endblock %}
</head>


<body>
<div class="base-wrapper">

    <div class="base-content-wrapper align-items-stretch">

        <!-- Main content -->
        <div class="sidebar-wrapper">
            <div class="sidebar flex-column justify-content-center d-flex">
                    <div class="hamburger-container d-flex">
                        <div class="hamburger" id="collapse-sidebar">
                            <div id="collapsed-sidebar" class="d-none">
                                <i class="fas fa-bars"></i>
                            </div>
                            <div id="open-sidebar" >
                                <i class="fas fa-times"></i>
                            </div>

                        </div>
                    </div>
                <div class="profile-section hidden">
                    <div class="d-flex justify-content-center mb-2">
                        <img src="{{user.profile_pic.url}}"
                             class="profile-image"
                             alt="Profile picture">

                    </div>
                    <div class="d-flex justify-content-center m-2">
                        <strong>{{user.username}}</strong>
                    </div>
                </div>

                <hr class="m-3 hidden">
                <ul class="nav-list nav nav-pills d-flex flex-column m-2 mb-auto hidden">
                    <li class="custom-link sidebar-text d-flex flex-row ">
                        <div class="sidebar-icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <a href="{% url 'home:home_weekly' %}" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="custom-link sidebar-text d-flex flex-row">
                        <div class="sidebar-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <a href="{% url 'account:index_account' %}" class="nav-link">
                            Profile
                        </a>
                    </li>
                    <li class="custom-link sidebar-text d-flex flex-row">
                        <div class="sidebar-icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <a href="{% url 'activities:index_activities' %}" class="nav-link">
                            Activities
                        </a>
                    </li>
                    <li class="custom-link sidebar-text d-flex flex-row">
                        <div class="sidebar-icon">
                            <i class="far fa-chart-bar"></i>
                        </div>
                        <a href="{% url 'activity_statistics:overall_monthly_statistics' %}" class="nav-link">
                            Statistics
                        </a>
                    </li>
                    <li class="custom-link sidebar-text d-flex flex-row">
                        <div class="sidebar-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <a href="{% url 'achievements:index_achievements' %}" class="nav-link">
                            Achievements
                        </a>
                    </li>
                </ul>
                <hr class="m-3 hidden">
                <div class="nav-list nav nav-pills d-flex flex-column m-2 hidden">
                    <div class="custom-link sidebar-text d-flex flex-row ">
                        <div class="sidebar-icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                        <a href="{% url 'account:logout' %}" class="nav-link">
                            Logout
                        </a>
                    </div>
                </div>
            </div>


        </div>
            <div class="main-content-wrapper background-light">
                <div class="top-bar d-flex justify-content-between align-items-center background-lightest box-shadow2">
                    <div id="messages">
                     {% for message in messages %}
                        <div class="alert alert-{{message.tags}} text-center align-center h6" id="hideMe" >{{ message }}</div>
                     {% endfor %}
                    </div>
                    <div class="top-bar-logo text-color-darkest">
                        <span class="h2">Logo</span>
                    </div>

                    <div class="btn-group top-bar-notifications text-color-darkest m-2">
                      <button class="btn custom-btn dropdown-toggle" type="button" id="dropdownMenuClickableOutside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                          <i class="fas fa-bell"></i><span id="notification-number" class="ms-1">{{notifications.count}}</span>
                      </button>
                      <ul class="dropdown-menu top-bar-notifications-menu" aria-labelledby="dropdownMenuClickableOutside">
                          {% for notification in notifications %}
                          <li id="{{notification.pk}}">
                              <div class="notification btn btn-success dropdown-item">
                                  <span><i class="fas fa-check"></i> {{notification}}</span>
                                  <div class="notification-metadata">
                                      <input type="hidden" name="notification_pk" value="{{notification.pk}}">
                                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                      <input type="hidden" name="notification_url" value="{% url 'account:notification_read' pk=notification.pk %}">
                                  </div>
                              </div>
                          </li>
                          {% empty %}
                          <li class="dropdown-item"><span>No new notifications found.</span></li>
                          {% endfor %}
                      </ul>
                    </div>
                </div>

                <div class="side-content-wrapper pb-1 background-lightest box-shadow">
                        <div class="side-content container pb-3 pt-3 h-100" id="activity-scrollbar">
                            {% for today_activity_instance in today_activities %}
                            {% if today_activity_instance.is_complete %}
                                <div class="sidebar-activity activity me-3 ms-3 col-5 d-inline-block background-success box-shadow">
                            {% else %}
                                <div class="sidebar-activity activity me-3 ms-3 col-5 d-inline-block background-error box-shadow">
                            {% endif %}
                                <span class="activity-text row h6 justify-content-center">{{today_activity_instance.activity.name}}</span>
                                <div class="start-difficulty-select d-flex justify-content-center">
                                  <select class="form-select start-difficulty-select difficulty-select" title="Difficulty to start">
                                      {% if today_activity_instance.start_difficulty == 1 %}
                                        <option value="1" selected>Very easy</option>
                                      {% else %}
                                        <option value="1">Very easy</option>
                                      {% endif %}

                                      {% if today_activity_instance.start_difficulty == 2 %}
                                        <option value="2" selected>Easy</option>
                                      {% else %}
                                        <option value="2">Easy</option>
                                      {% endif %}

                                      {% if today_activity_instance.start_difficulty == 3 %}
                                        <option value="3" selected>Neutral</option>
                                      {% else %}
                                        <option value="3">Neutral</option>
                                      {% endif %}

                                      {% if today_activity_instance.start_difficulty == 4 %}
                                        <option value="4" selected>Hard</option>
                                      {% else %}
                                        <option value="4">Hard</option>
                                      {% endif %}

                                      {% if today_activity_instance.start_difficulty == 5 %}
                                        <option value="5" selected>Very hard</option>
                                      {% else %}
                                        <option value="5">Very hard</option>
                                      {% endif %}
                                  </select>
                                </div>
                                <div class="d-flex justify-content-center">
                                  <select class="form-select activity-difficulty-select difficulty-select" title="Difficulty of the activity">
                                      {% if today_activity_instance.activity_difficulty == 1 %}
                                        <option value="1" selected>Very easy</option>
                                      {% else %}
                                        <option value="1">Very easy</option>
                                      {% endif %}

                                      {% if today_activity_instance.activity_difficulty == 2 %}
                                        <option value="2" selected>Easy</option>
                                      {% else %}
                                        <option value="2">Easy</option>
                                      {% endif %}

                                      {% if today_activity_instance.activity_difficulty == 3 %}
                                        <option value="3" selected>Neutral</option>
                                      {% else %}
                                        <option value="3">Neutral</option>
                                      {% endif %}

                                      {% if today_activity_instance.activity_difficulty == 4 %}
                                        <option value="4" selected>Hard</option>
                                      {% else %}
                                        <option value="4">Hard</option>
                                      {% endif %}

                                      {% if today_activity_instance.activity_difficulty == 5 %}
                                        <option value="5" selected>Very hard</option>
                                      {% else %}
                                        <option value="5">Very hard</option>
                                      {% endif %}
                                  </select>
                                </div>
                                {% if today_activity_instance.is_complete %}
                                    <input class="form-check-input activity-checkbox ms-1 mt-2" style="font-size: 1.6rem;" type="checkbox" name="complete" id="flexCheckChecked" title="Completed" checked>
                                    <button class="activity-submit btn custom-btn me-1 mt-2 p-0 px-2">Submit</button>
                                {% else %}
                                    <input class="form-check-input activity-checkbox ms-1 mt-2" style="font-size: 1.6rem;" type="checkbox" name="complete" id="flexCheckDefault" title="Completed">
                                    <button class="activity-submit btn custom-btn me-1 mt-2 p-0 px-2">Submit</button>
                                {% endif %}
                                <div class="activity-metadata d-none">
                                    <input type="hidden" name="activity_pk" value="{{today_activity_instance.pk}}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <input type="hidden" name="update_activity_url" value="{% url 'activities:update_activity_instance' pk=today_activity_instance.pk %}">
                                </div>
                                <span class="activity-text row justify-content-center d-none">Confirm</span>
                            </div>
                            {% empty %}
                            <h6 class="m-2">No activities for today.</h6>
                            {% endfor %}
                        </div>
                </div>
                <div class="main-content main-content-collapsed container mt-lg-5 mt-4 d-flex justify-content-center">
                    <div class="box-shadow w-100 background-lightest p-3">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>