<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous">
    </script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/hide_messages.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% block include %}{% endblock %}
</head>


<body>
<div class="base-wrapper">

    <div class="base-content-wrapper align-items-stretch">
            <div class="main-content-wrapper">
                <nav class="navbar navbar-expand-lg background-dark p-2 box-shadow">
                  <a class="navbar-brand h6" href="#">Logo</a>
                  <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-white"><i class="fas fa-bars"></i></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link mx-2 custom-link" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-2 custom-link" href="#">Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-2 custom-link" href="#">About</a>
                      </li>
                        {% if user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary rounded-circle" href="{% url 'home:home_weekly' %}" style="width:40px; height: auto;"><i class="fas fa-user"></i></a>
                          </li>
                        {% else %}
                          <li class="nav-item">
                            <a class="nav-link mx-2 custom-link" href="{% url 'account:login' %}">Login</a>
                          </li>
                        {% endif %}
                    </ul>
                  </div>
                </nav>
                <div class="main-content d-flex justify-content-center">
                    <div class="box-shadow w-100">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>