{% extends 'index.html' %}
{% load static %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="h-100 text-dark">
        <div>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} text-center align-center w-100 h6" id="hideMe" >{{ message }}</div>
            {% endfor %}
        </div>
        <div class="container d-flex align-items-sm-center align-items-start mt-2 mt-sm-4 justify-content-center h-100">
            <div class="row w-100 justify-content-center text-white mt-sm-4 mt-0">
                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 col-12 p-0 ms-xl-auto ms-0 text-center">
                    <div class="shadow-md p-4 h-100 background-dark rounded border border-dark">
                        <p class="motivation-text mt-xl-5 mt-sm-4 my-0 display-xl-3 display-4 py-2 text-white">Ready to build your ultimate habit tracking system?</p>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 col-12 p-0 me-xl-auto me-0 text-center">
                    <div class="shadow-lg form h-100 p-4 background-lightest rounded border border-dark">
                        <h1 class="title display-4 text-truncate text-dark">REGISTER</h1>

                        <div class="form-wrapper px-2 mt-md-4 mt-sm-3 mt-2">
                            <form method="POST" class="justify-content-center">
                                {% csrf_token %}
                                <div class="form-group mb-md-3 mb-sm-2 mb-0 mx-5">
                                    <label class="text-dark h6">Username</label>
                                    <div class="input-group">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group mb-md-3 mb-sm-2 mb-0 mx-5">
                                    <label class="text-dark h6">Email</label>
                                    <div class="input-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-group mb-md-3 mb-sm-2 mb-0 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="form-group mb-md-3 mb-sm-2 mb-2 mx-5">
                                    <label class="text-dark h6">Password</label>
                                    <div class="input-group">
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="form-group mx-5 mb-md-3 mb-sm-2 mb-0">
                                    <label class="text-dark h6">Already have an account? Login <a href="{% url 'account:login' %}">here</a> </label>
                                </div>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            <p class="text-danger font-weight-bold">{{ error|escape }}</p>
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn w-25 custom-btn">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}